[build-system]
requires = ["poetry-core >=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry.core.masonry.api"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
substitution = { files = ["src/instawow/_version.py"] }

[tool.poetry]
name = "instawow"
version = "0.0.0"
description = "CLI for managing World of Warcraft add-ons"
license = "GPL-3.0-or-later"
authors = [
  "layday <layday@protonmail.com>",
]
readme = "README.rst"
urls = { homepage = "http://github.com/layday/instawow" }
packages = [
  { include = "instawow", from = "src" },
  { include = "instawow_gui", from = "gui-webview/src" },
]
include = [
  { path = "COPYING", format = "sdist" },
  { path = "gui-webview/src/instawow_gui/frontend/svelte-*" },
  { path = "tests", format = "sdist" },
]

[tool.poetry.dependencies]
python = ">=3.7"

aiohttp = "^3.7.4"
alembic = "^1.4.3"
click = ">=7.1, <9"
jinja2 = ">=2.11, <4"
loguru = "<1"
pluggy = "^0.13"
prompt-toolkit = "^3.0.15"
pydantic = "^1.8.2"
questionary = "^1.8"
rapidfuzz = "^1.4.1"
sqlalchemy = "^1.3.19"
typing-extensions = "^3.10.0.0"
yarl = "~=1.4"

aiohttp-rpc = { version = ">=0.6.3", optional = true }
cefpython3 = { version = "==66.1", markers = "platform_system == 'Windows'",  optional = true }
toga = { version = ">=0.3.0.dev27", optional = true }
toga-cocoa = { version = ">=0.3.0.dev27", markers = "platform_system == 'Darwin'", optional = true }
toga-gtk = { version = ">=0.3.0.dev27", markers = "platform_system == 'Linux'", optional = true }
toga-winforms = { version = ">=0.3.0.dev27", markers = "platform_system == 'Windows'", optional = true }

aresponses = { version = "~=2.0", optional = true }
coverage = { version = "^5.2", extras = ["toml"], optional = true }
pytest = { version = "^6.0.1", optional = true }
pytest-asyncio = { version = "^0.14", optional = true }

sqlalchemy2-stubs = { version = "*", optional = true }

[tool.poetry.extras]
gui = [
  "aiohttp-rpc",
  "cefpython3",
  "toga",
  "toga-cocoa",
  "toga-gtk",
  "toga-winforms",
]
test = [
  "aresponses",
  "coverage",
  "pytest",
  "pytest-asyncio",
]
types = [
  "sqlalchemy2-stubs",
]

[tool.poetry.scripts]
instawow = "instawow.cli:main"


## TESTS ##

[tool.coverage.run]
source_pkgs = [
  "instawow",
]
branch = true

[tool.coverage.paths]
combine = [
  "src/instawow", "**/instawow",
]

[tool.pytest.ini_options]
markers = [
  "iw_no_mock",
]
xfail_strict = true


## TYPE CHECKING ##

[tool.pyright]
include = [
  "src",
  "gui-webview/src",
]
ignore = [
  "gui-webview/src/instawow_gui/cef_adapter.py",
]
useLibraryCodeForTypes = true
typeCheckingMode = "strict"
reportMissingTypeStubs = "information"
# `TYPE_CHECKING` and lazy imports produce spurious import cycle errors
reportImportCycles = false
reportUnknownArgumentType = "warning"
reportUnknownMemberType = false


## FORMATTING ##

[tool.black]
line_length = 99
skip_string_normalization = true
target_version = ["py37", "py38", "py39"]

[tool.isort]
profile = "black"
line_length = 99
combine_as_imports = true
force_sort_within_sections = true
