[build-system]
requires = [
  "setuptools >=42",
  "wheel",
  "setuptools-scm[toml] >=3.4.1, <4"
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "instawow/_version.py"
write_to_template = "__version__ = '{version}'\n"


[tool.coverage.run]
source = ["instawow"]
omit = [
  "instawow/migrations"
]

[tool.pytest.ini_options]
testpaths = ["tests"]
xfail_strict = true


[tool.isort]
profile = "black"
line_length = 99
combine_as_imports = true
force_sort_within_sections = true

[tool.black]
line_length = 99
skip_string_normalization = true
target_version = ["py37", "py38"]
