[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
dynamic = [
  "version",
]
name = "instawow"
requires-python = ">= 3.10"
description = "World of Warcraft add-on manager"
readme = "README.rst"
license = "GPL-3.0-or-later"
authors = [{ name = "layday", email = "layday@protonmail.com" }]
urls."homepage" = "http://github.com/layday/instawow"

dependencies = [
  "aiohttp >= 3.9.3, < 4",
  "aiohttp-client-cache >= 0.9.1",
  "attrs >= 23.2.0",
  "cattrs >= 23.2.3",
  "click >= 8.1.6",
  "diskcache >= 5.6.3",
  'iso8601 >= 1.0.2 ; python_version < "3.11"',
  "loguru >= 0.7.2",
  "packaging >= 23.2",
  "pluggy >= 1.4.0",
  "prompt-toolkit >= 3.0.44",
  "rapidfuzz >= 3.6.1",
  'truststore >= 0.7.0 ; python_version < "3.13"',
  'truststore >= 0.9.1 ; python_version >= "3.13"',
  'typing-extensions >= 4.11.0    ; python_version < "3.13"',
  'typing-extensions >= 4.12.0rc1 ; python_version >= "3.13"',
  "yarl >= 1.9.3",
]
optional-dependencies."test" = [
  "anyio >= 4.3.0",
  "aresponses >= 3",
  "coverage[toml] >= 7.4.3",
  "pytest >= 8",
  "pytest-xdist >= 3.5.0",
]
optional-dependencies."types" = [
  "diskcache-stubs",
]

[project.entry-points."instawow.plugins"]
"instawow_wa_updater" = "instawow_wa_updater._plugin"

[project.scripts]
"instawow" = "instawow.cli:main"

[tool.hatch.build.targets.sdist]
only-include = [
  "/src",
  "/tests",
]
exclude = [
  ".gitignore",
]

[tool.hatch.build.targets.wheel]
packages = [
  "/src/instawow",
  "/src/instawow_wa_updater",
]

[tool.hatch.version]
source = "vcs"

[tool.ruff]
line-length = 99

[tool.ruff.format]
quote-style = "single"

[tool.ruff.lint]
select = [
  "ASYNC", # flake8-async
  "B0",    # flake8-bugbear (without opinionated rules)
  "C4",    # flake8-comprehensions
  "DTZ",   # flake8-datetimez
  "E",     # pycodestyle
  "F",     # pyflakes
  "I",     # isort
  "PGH",   # pygrep-hooks
  "PIE",   # flake8-pie
  "PT",    # flake8-pytest-style
  "RUF",   # ruff
  "TRY",   # tryceratops
  "UP",    # pyupgrade
  "W",     # pycodestyle
  "YTT",   # flake8-2020
]
ignore = [
  "E501",   # pycodestyle: line-too-long
  "TRY003", # tryceratops: raise-vanilla-args
]

[tool.ruff.lint.flake8-pytest-style]
fixture-parentheses = false
mark-parentheses = false

[tool.ruff.lint.isort]
known-first-party = [
  "instawow",
  "instawow_wa_updater",
]
required-imports = [
  "from __future__ import annotations",
]

[tool.ruff.lint.pyupgrade]
keep-runtime-typing = true

[tool.coverage.run]
source_pkgs = [
  "instawow",
  "instawow_wa_updater",
]
parallel = true
branch = true
dynamic_context = "test_function"

[tool.coverage.paths]
instawow = ["src/instawow", "**/instawow"]
instawow_wa_updater = ["src/instawow_wa_updater", "**/instawow_wa_updater"]

[tool.coverage.report]
exclude_also = [
  "@overload",
  "if TYPE_CHECKING:",
  "raise NotImplementedError",
]

[tool.pytest.ini_options]
markers = [
  "iw_no_mock_http",
]
xfail_strict = true
filterwarnings = [
  "error",
  'ignore:datetime\.datetime\.utcnow\(\) is deprecated:DeprecationWarning:aiohttp_client_cache',
]
addopts = ["-ra", "--strict-config", "--strict-markers"]
