pip
setuptools
wheel
fastentrypoints
pip-tools
twine

mypy
sqlalchemy-stubs

pytest
pytest-asyncio
git+https://github.com/kevin1024/vcrpy@a17624a4649308c2f5f9255391fad8ee4c0a351f      # See https://github.com/kevin1024/vcrpy/issues/481

ipython

-e .
