interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.wago.io/api/check/weakauras?ids=RaidCDs,bfaraid2
  response:
    body:
      string: '[{"_id":"NyJLsr8PW","name":"Tehr''s CDs","slug":"RaidCDs","url":"https://wago.io/RaidCDs","created":"2016-07-18T22:46:06.255Z","modified":"2018-11-01T22:36:56.757Z","game":"bfa","username":"Tehr","version":105,"versionString":"1.0.0","changelog":{"format":"bbcode","text":""},"regionType":"group"},{"_id":"rJg6SAC_G","name":"T23
        Battle of Dazar''alor Auras (9/9 Bosses, all difficulties, both factions)","slug":"bfaraid2","url":"https://wago.io/bfaraid2","created":"2018-03-08T15:24:39.897Z","modified":"2019-03-18T08:29:51.179Z","forkOf":"ryJJQAAOf","game":"bfa","username":"Causese","version":119,"versionString":"2.0.50","changelog":{"format":"bbcode","text":"added
        \"08 Crackling Lightning\" since it can be tracked now. (Stormwall Blockade)\nThanks
        Fawn#12441 for pointing it out."},"regionType":"dynamicgroup"}]'
    headers:
      Content-Type: application/json; charset=utf-8
      wotm: '%7B%22name%22%3A%22Erbagatta''s%20Balance%20Rotation%208.1.x%22%2C%22slug%22%3A%22Mufb62VTK%22%2C%22screenshot%22%3A%22https%3A%2F%2Fmedia.wago.io%2Fscreenshots%2FMufb62VTK%2F5c6c30bacd18c843c6adb771.png%22%7D'
    status:
      code: 200
      message: OK
    url: https://data.wago.io/api/check/weakauras?ids=RaidCDs,bfaraid2
- request:
    body: null
    headers:
    method: GET
    uri: https://data.wago.io/api/check/weakauras?ids=bfaraid2,RaidCDs
  response:
    body:
      string: '[{"_id":"NyJLsr8PW","name":"Tehr''s CDs","slug":"RaidCDs","url":"https://wago.io/RaidCDs","created":"2016-07-18T22:46:06.255Z","modified":"2018-11-01T22:36:56.757Z","game":"bfa","username":"Tehr","version":105,"versionString":"1.0.0","changelog":{"format":"bbcode","text":""},"regionType":"group"},{"_id":"rJg6SAC_G","name":"T23
        Battle of Dazar''alor Auras (9/9 Bosses, all difficulties, both factions)","slug":"bfaraid2","url":"https://wago.io/bfaraid2","created":"2018-03-08T15:24:39.897Z","modified":"2019-03-18T08:29:51.179Z","forkOf":"ryJJQAAOf","game":"bfa","username":"Causese","version":119,"versionString":"2.0.50","changelog":{"format":"bbcode","text":"added
        \"08 Crackling Lightning\" since it can be tracked now. (Stormwall Blockade)\nThanks
        Fawn#12441 for pointing it out."},"regionType":"dynamicgroup"}]'
    headers:
      Content-Type: application/json; charset=utf-8
      wotm: '%7B%22name%22%3A%22Erbagatta''s%20Balance%20Rotation%208.1.x%22%2C%22slug%22%3A%22Mufb62VTK%22%2C%22screenshot%22%3A%22https%3A%2F%2Fmedia.wago.io%2Fscreenshots%2FMufb62VTK%2F5c6c30bacd18c843c6adb771.png%22%7D'
    status:
      code: 200
      message: OK
    url: https://data.wago.io/api/check/weakauras?ids=bfaraid2,RaidCDs
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.wago.io/api/check/weakauras?ids=bfaraid2,foobar,RaidCDs
  response:
    body:
      string: '[{"_id":"NyJLsr8PW","name":"Tehr''s CDs","slug":"RaidCDs","url":"https://wago.io/RaidCDs","created":"2016-07-18T22:46:06.255Z","modified":"2018-11-01T22:36:56.757Z","game":"bfa","username":"Tehr","version":105,"versionString":"1.0.0","changelog":{"format":"bbcode","text":""},"regionType":"group"},{"_id":"rJg6SAC_G","name":"T23
        Battle of Dazar''alor Auras (9/9 Bosses, all difficulties, both factions)","slug":"bfaraid2","url":"https://wago.io/bfaraid2","created":"2018-03-08T15:24:39.897Z","modified":"2019-03-18T08:29:51.179Z","forkOf":"ryJJQAAOf","game":"bfa","username":"Causese","version":119,"versionString":"2.0.50","changelog":{"format":"bbcode","text":"added
        \"08 Crackling Lightning\" since it can be tracked now. (Stormwall Blockade)\nThanks
        Fawn#12441 for pointing it out."},"regionType":"dynamicgroup"}]'
    headers:
      Content-Type: application/json; charset=utf-8
      wotm: '%7B%22name%22%3A%22Erbagatta''s%20Balance%20Rotation%208.1.x%22%2C%22slug%22%3A%22Mufb62VTK%22%2C%22screenshot%22%3A%22https%3A%2F%2Fmedia.wago.io%2Fscreenshots%2FMufb62VTK%2F5c6c30bacd18c843c6adb771.png%22%7D'
    status:
      code: 200
      message: OK
    url: https://data.wago.io/api/check/weakauras?ids=bfaraid2,foobar,RaidCDs
[...]
