---
name: CI
on: [push, pull_request, workflow_dispatch]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  FORCE_COLOR: "1"
  UV_MANAGED_PYTHON: "1"
defaults:
  run:
    shell: bash
jobs:
  build-packages:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build packages
        uses: ./.github/actions/build-packages

  test:
    needs: build-packages
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python:
          - "3.12"
          - "3.13"
          - "3.14"
        # include:
        #   - os: ubuntu-latest
        #     python: "3.14t"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone the repo
        uses: actions/checkout@v6
      - name: Download pre-built packages
        uses: actions/download-artifact@v7
        with:
          name: packages
          path: ./dist
      - name: Install uv for Python ${{ matrix.python }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}
      - name: Install nox
        run: uv tool install -p ${{ matrix.python }} nox
      - name: Run tests (latest)
        run: >-
          nox
          --error-on-missing-interpreters
          --force-python ${{ matrix.python }}
          -s 'test-${{ matrix.python }}(latest)'
      - name: Upload coverage data
        uses: actions/upload-artifact@v6
        with:
          name: coverage-data-${{ matrix.os }}-${{ matrix.python }}
          path: .coverage.*
          if-no-files-found: ignore
          include-hidden-files: true
      - name: Run tests (minimum versions)
        run: >-
          nox
          --error-on-missing-interpreters
          --force-python ${{ matrix.python }}
          -s 'test-${{ matrix.python }}(minimum-versions)'

  type-check:
    needs: build-packages
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python:
          - "3.12"
          - "3.13"
          - "3.14"
        # include:
        #   - os: ubuntu-latest
        #     python: "3.14t"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone the repo
        uses: actions/checkout@v6
      - name: Download pre-built packages
        uses: actions/download-artifact@v7
        with:
          name: packages
          path: ./dist
      - name: Install uv for Python ${{ matrix.python }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}
      - name: Install nox
        run: uv tool install -p ${{ matrix.python }} nox
      - name: Install Node for Pyright
        uses: actions/setup-node@v6
        with:
          node-version: "22"
      - name: Type check
        run: >-
          nox
          --error-on-missing-interpreters
          --force-python ${{ matrix.python }}
          -s type_check

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repo
        uses: actions/checkout@v6
      - name: Install uv for Python 3.13
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
      - name: Install nox
        run: uv tool install -p 3.13 nox
      - name: Install Node for Prettier
        uses: actions/setup-node@v6
        with:
          node-version: "22"
      - name: Lint
        run: nox -s lint

  # Nicked from attrs.
  coverage:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Clone the repo
        uses: actions/checkout@v6
      - name: Download coverage data
        uses: actions/download-artifact@v7
        with:
          pattern: coverage-data-*
          merge-multiple: true
      - name: Install uv for Python 3.13
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
      - name: Install nox
        run: uv tool install -p 3.13 nox
      - name: Produce coverage report
        run: |
          nox -s report_coverage
      - name: Upload HTML report
        uses: actions/upload-artifact@v6
        with:
          name: html-report
          path: htmlcov
