---
name: CI
on: [push, pull_request]
jobs:
  test:
    if: "! contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: ['3.7', '3.8']
    runs-on: ${{ matrix.os }}
    steps:
    - name: Clone the repo
      uses: actions/checkout@v2
    - name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install nox
      run: |
        python -m pip install nox
    - name: Run pytest
      run: |
        python -m nox -s test
    - name: Run pyright
      run: |
        python -m nox -s type_check
